<div class="footer">
  <p><a href="https://github.com/nittle">Daniil Druk</a>, 2025 <br> Made using <a href="https://openlibrary.org/dev/docs/api/covers">Open Library Covers API</a></p>
</div>

  </body>
</html>