/* Header  */
#header h2 {
  font-family: "Edu NSW ACT Cursive", cursive;
  display: inline;
}
#header a {
  text-decoration: none;
  color: inherit;
}
#header hr {
  color: black;
}

#header form {
  float: right;
}

#header {
  font-size: large;
}

/* Card style */
.card-container {
  margin: 0 10%;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 10px;
  height: 30vh;
  display: grid;
  grid-template: 3fr 1fr 5fr / 0.5fr 2fr;
  grid-template-areas:
    "title note"
    "mark note"
    "description note";
}

@layer {
  .card-container > div {
    border: 1px solid black;
  }
}
.card-title {
  border-top: 0;
  border-left: 0;
  grid-area: title;
}
.card-mark {
  border-left: 0;
  grid-area: mark;
}
.card-notes {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  grid-area: note;
}
.card-description {
  border-left: 0;
  border-bottom: 0;
  grid-area: description;
}

/* Styles for book pages */
.book-container {
  padding: 10px;
  font-family: "Playfair Display", serif;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 10%;
  display: grid;
  grid-template: auto 3fr / auto 1fr;
  grid-template-areas:
    "cover details"
    "note note";
}
.book-cover {
  /* width: fit-content; */
  width: 100px;
  height: auto;
  justify-self: center;
  grid-area: cover;
}
.book-details {
  margin-left: 10px;
  grid-area: details;
}
.book-details p {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.book-details h2 {
  margin: 0;
}
.book-details h3 {
  color: red;
  margin: 0;
}
.book-author {
  color: gray;
}
.book-note {
  hyphens: auto;
  font-family: "Roboto", sans-serif;
  grid-area: note;
}
