/* Header  */
#header {
  display: flex;
  flex-direction: row;
  font-size: large;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.header-title {
  margin: 0;
  font-family: "Edu NSW ACT Cursive", cursive;
  display: inline;
}
.header-title a {
  text-decoration: none;
  color: inherit;
}
.search-form {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: auto;
  overflow: hidden;
}
.input-field {
  font-family: inherit;
  border: none;
  font-size: large;
  padding: 0;
  height: 80%;
  margin: 2px;
}
.input-field:focus {
  outline: none;
}
.search-btn {
  margin: 0 1px;
  font-family: inherit;
  padding: 0;
  height: 100%;
  border: 0;
  background-color: white;
  border-left: 2px solid black;
}
.search-btn:hover {
  background-color: lightgray;
}

/* Card style */
.card-container {
  padding: 10px;
  margin: 0 20%;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 10px;
  display: grid;
  grid-template: 1fr / 25% auto;
  grid-template-areas: "details note";
}
.card-details {
  grid-area: details;
  border-right: 2px black solid;
}

.card-container * {
  margin: 0;
}
.card-container hr {
  color: black;
}
.card-mark {
  color: red;
}
.card-description {
  border-top: 2px solid black;
  color: gray;
}
.card-notes {
  padding-left: 3px;
}
/* Styles for book pages */
.book-container {
  padding: 10px;
  font-family: "Playfair Display", serif;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 30%;
  display: grid;
  grid-template: auto 3fr / auto 1fr;
  grid-template-areas:
    "cover details"
    "note note";
}
.book-cover {
  width: 100px;
  height: auto;
  justify-self: center;
  grid-area: cover;
}
.book-details {
  margin-left: 10px;
  grid-area: details;
}
.book-details p {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.book-details h2 {
  margin: 0;
}
.book-details h3 {
  color: red;
  margin: 0;
}
.book-author {
  color: gray;
}
.book-note {
  hyphens: auto;
  font-family: "Roboto", sans-serif;
  grid-area: note;
}

/* Footer */
.footer {
  position: relative;
  /* bottom: 0;
  left: 0; */
  background-color: lightgray;
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: auto;
}
html {
  height: 100%;
}
body {
  margin-bottom: 0;
  min-height: 100%;
}
